*{
    box-sizing: border-box;
}
.bank{
    height: 200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    text-align: center;


}
#instructionsSection{
    width: 200px;
    height: 300px;
    position: relative;
    top: 400px;
    left: 80px;
    display: inline-block;
    text-shadow: 2px 2px 8px #FF0000;
    color: white;
    font-size: 20pt;
    text-align: center;
}

.char{
    position: relative;
    width: 200px;
    height: 120px;
    background: black;
    display: inline-block;
    text-align: center;
    text-shadow: 5px;
    margin: 20px;
}
.char:hover{
    border-color: red;
}

#attack, #reset{
    color: red;
    position: relative;
    background: black;
    font-size: 1.5em;
    top: 40px;
    margin: 20px;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    
    clear: both;
}
h1{
    text-align: center;
    color:white;
    margin-top: 100px;
}

#tccc{
    position: fixed;
    background: black;
    color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 20px;
    bottom: 0;
    
}
mainbody{
    height: 100%;
    width: 100%;

}

body{
    background: url("../images/gameOfThronesBackGroundOption1.jpg");
    background-size: cover;
    margin: 0;
}

#arya{
    position: relative;
    background: url("../images/aryaImg.webp");
    background-size: cover;
    border-style: solid;
    border-color:white;
    border-width: 5px;
    text-shadow: 2px 2px 8px #FF0000;
}
#arya:hover, #nightKing:hover, #jonSnow:hover, #theHound:hover{
    border-color: red;
}

#nightKing{
    background: url("../images/nightKingImg.webp");
    background-size: cover;
    border-color:white;
    border-width: 5px;
    border-style: solid;
    text-shadow: 2px 2px 8px #FF0000;
}
#jonSnow{
    background: url("../images/jonSnowImg.jpg");
    background-size: cover;
    border-color:white;
    border-style: solid;
    border-width: 5px;
    text-shadow: 2px 2px 8px #FF0000;
}
#theHound{
    background: url("../images/theHoundImg.jpg");
    background-size: cover;
    border-color:white;
    border-width: 5px;
    border-style: solid;
    text-shadow: 2px 2px 8px #FF0000;

}

#label{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px #FF0000;
    font-size:2.0em;

}
#charBankLabel{
    font-size: 1.5em;
}

.hpTag{
    text-align: center;
    position: relative;
    bottom: -60px;
    
    height: 20px;
    text-shadow: 2px 2px 8px #FF0000;
}
